.icon-serach {
  width: 30px;
  height: 30px;
}
.icon-tag {
  width: 48px;
  height: 48px;
  @include pad {
    width: 24px;
    height: 24px;
  }
}
.icon-logo {
  width: 24px;
  height: 24px;
  @include pad {
    width: 20px;
    height: 20px;
  }
}
.icon-arrow {
  width: 24px;
  height: 24px;
}