.header {
  background-color: #AA0601;
}
.logo {
  display: block;
  @include mobile {
    width: 100%;
    padding: 10px 0;
  }
  h1 {
    width: 80px;
    height: 48px;
    background-image: url('../images/logo.png');
    background-position: center center;
    background-size: cover;
    @include hide_text;
    @include mobile {
      margin: 0 auto;
      width: 48px;
      height: 30px;
    }
  }
}
.pro {
  background-color: #FBF2F2;
  padding: 60px 0 80px 0;
  @include pad {
    padding: 40px 0 24px 0;
  }
  @include mobile {
    padding: 32px 0 8px 0;
  }
  &__title {
    font-size: 48px;
    color: #650300;
    margin-bottom: 40px;
    @include pad {
      font-size: 32px;
      margin-bottom: 32px;
    }
    @include mobile {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include pad {
      justify-content: space-around;
    }
    &__item {
      width: 23%;
      @include pad {
        width: 50%;
        margin-bottom: 32px;
      }
      @include mobile {
        width: 100%;
      }
    }
    img {
      width: 100px;
      height: 100px;
      margin: 0 auto 16px;
    }
    h3 {
      font-size: 24px;
      color: #650300;
      margin-bottom: 8px;
    }
    p {
      max-width: 255px;
      margin: 0 auto;
    }
  }
}
.series {
  padding: 60px 0 80px 0;
  @include pad {
    padding: 40px 0 56px 0;
  }
  &__title {
    font-size: 48px;
    @include pad {
      font-size: 32px;
    }
  }
  &__list__item {
    &__image {
      width: 57.2%;
      height: 320px;
      object-position: center;
      object-fit: cover;
      @include pad {
        width: 56.5%;
        height: 168px;
      }
    }
    &__content {
      img {
        width: 48px;
        height: 48px;
        @include pad {
          width: 40px;
          height: 40px;
        }
      }
      h3 {
        font-size: 48px;
        @include pad {
          font-size: 28px;
        }
      }
    }
  }
}

// Spacing
.p-sm-0 {
  @include mobile {
    padding: 0;
  }
}