.header {
  background-color: #AA0601;
}
.logo {
  display: block;
  @include mobile {
    width: 100%;
    padding: 10px 0;
  }
  h1 {
    width: 80px;
    height: 48px;
    background-image: url('../images/logo.png');
    background-position: center center;
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    @include mobile {
      margin: 0 auto;
      width: 48px;
      height: 30px;
    }
  }
}

// Spacing
.p-sm-0 {
  @include mobile {
    padding: 0;
  }
}