.img-control {
  object-position: center center;
  object-fit: cover;
}
.img-h-304 {
  height: 304px;
  @include mobile {
    height: 148px;
  }
}
.img-h-164 {
  height: 164px;
  @include mobile {
    height: 166px;
  }
}
.colors {
  &__item {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    @include mobile {
      width: 16px;
      height: 16px;
    }
  }
}