<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <nav class="navbar p-sm-0">
      <a href="#" class="logo">
        <h1>眼鏡世界</h1>
      </a>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link">系列鏡框</a></li>
        <li class="nav-item"><a href="#" class="nav-link">門市據點</a></li>
        <li class="nav-item"><a href="#" class="nav-link">部落格</a></li>
        <li class="nav-item"><a href="#" class="nav-link">常見問題</a></li>
      </ul>
    </nav>
    <div class="banner">
      <div class="banner__content">
        <p>Promise-Desert 2020 早春系列</p>
        <h2>看得清，才能看得遠</h2>
      </div>
    </div>
  </header>

  <%- contents %>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>