// Colors
// Code Start
$black: black;
$white: white;
$white-50: rgba(255, 255, 255, .5);
$primary: #aa0601;
$secondary: #00000020;
$dark: #0A0A0A;
$dark-2: rgba(10, 10, 10, .6);
$darkred: #650300; //暗紅色
$darkblue: #212529;
$lightpink: #fbf2f2;
$brown: #5F3E2D;
$lightbrown: #B75929;
$gray: #555555;
$gray-700: #707070;
// Code End

// Themes
// Code Start
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'info': $gray,
  'dark': $dark,
  'dark-2': $dark-2,
  'black': $black,
  'white': $white,
  'white-50': $white-50,
  'darkred': $darkred,
  'darkblue': $darkblue,
  'lightpink': $lightpink,
  'brown': $brown,
  'lightbrown': $lightbrown,
  'gray-700': $gray-700
);
// Code End

// Grid
// Code Start
$gutter: 30px;
$gutter-md: 30px;
$gutter-sm: 15px;
$col-width: 65px;
$col-width-md: 30px;
$col-width-sm: 75px;
// Code End

// Display
// Code Start
$displays: (
  "block": block,
  "inline": inline,
  "inline-block": inline-block,
  "none": none,
  "flex": flex
);
// Code End

// Flex
// Code Start
$flex-directions: (
  "row": row,
  "row-reverse": row-reverse,
  "column": column,
  "column-reverse": column-reverse
);
$flex-alighment-types: (
  "start": start,
  "between": space-between,
  "around": space-around,
  "center": center,
  "end": end
);
// Code End

// Spacers
// Code Start
$spacers: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
  12: 48px,
  14: 56px,
  15: 60px,
  16: 64px,
  18: 72px,
  19: 76px,
  20: 80px,
  24: 96px,
  25: 100px,
  26: 104px,
  32: 128px,
  40: 160px
);
// Code End

// Fonts
// Code Start
$font-sizes: (
  1: 48px,
  2: 36px,
  3: 28px,
  4: 24px,
  5: 20px,
  6: 16px,
// ===>
  72: 72px, // 不常見的採數字大小命名
  64: 64px,
  42: 42px,
  32: 32px,
  14: 14px,
// <===
);
// Code End
