$black: black;
$white: white;
$primary: #AA0601;
$darkred: #650300; //暗紅色

// Spacers
$spacers: (
  0: 0,
  2: 8px,
  4: 16px,
  5: 20px,
  8: 32px,
  10: 40px,
  14: 56px,
  15: 60px,
  20: 80px
);

// Fonts
$font-sizes: (
  1: 48px,
  2: 36px,
  3: 28px,
  4: 24px,
  5: 20px,
  6: 16px,
  // 不常見的採數字大小命名
  72: 72px,
  64: 64px,
  32: 32px,
  14: 14px
);