// Background
.bg {
  @each $theme, $value in $theme-colors {
    &-#{$theme} {
      background-color: $value;
    }
  }
}

// Text
.text {
  @each $theme, $value in $theme-colors {
    &-#{$theme} {
      color: $value;
    }
  }
}

// Effects
.opacity {
  @for $i from 0 through 10 {
    &-#{$i} {
      opacity: $i / 10;
    }
  }
}