.d-flex {
  display: flex;
}

// Directions
.flex {
  &-row-reverse {
    flex-direction: row-reverse;
  }
  @include pad {
    &-md-row {
      flex-direction: row;
    }
  }
}

// Alignment
.justify-content {
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}
.align-items {
  &-center {
    align-items: center;
  }
}
