.d-flex {
  display: flex;
}

.flex {
  // Wrap
  &-wrap {
    flex-wrap: wrap;
  }
  // Directions
  &-row-reverse {
    flex-direction: row-reverse;
  }
  @include pad {
    &-md-row {
      flex-direction: row;
    }
  }
}

// Alignment
.justify-content {
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  @include pad {
    &-md-around {
      justify-content: space-around;
    } 
  }
}
.align-items {
  &-center {
    align-items: center;
  }
}
