.flex {
  &-wrap {
    flex-wrap: wrap;
  }
  &-grow {
    &-1 {
      flex-grow: 1;
    }
  }
  // Directinos
  @each $direction, $value in $flex-directions {
    &-#{$direction} {
      flex-direction: $value;
    }
  }
  @include pad {
    @each $direction, $value in $flex-directions {
      &-md-#{$direction} {
        flex-direction: $value;
      }
    }
  }
  @include mobile {
    @each $direction, $value in $flex-directions {
      &-sm-#{$direction} {
        flex-direction: $value;
      }
    }
  }
}

// Alignment
.justify-content {
  @each $type, $value in $flex-alighment-types {
    &-#{$type} {
      justify-content: $value;
    }
  }
  @include pad {
    @each $type, $value in $flex-alighment-types {
      &-md-#{$type} {
        justify-content: $value;
      }
    }
  }
  @include mobile {
    @each $type, $value in $flex-alighment-types {
      &-sm-#{$type} {
        justify-content: $value;
      }
    }
  }
}
.align-items {
  @each $type, $value in $flex-alighment-types {
    &-#{$type} {
      align-items: $value;
    }
  }
  @include pad {
    @each $type, $value in $flex-alighment-types {
      &-md-#{$type} {
        align-items: $value;
      }
    }
  }
  @include mobile {
    @each $type, $value in $flex-alighment-types {
      &-sm-#{$type} {
        align-items: $value;
      }
    }
  }
}
