// Paddings
.p {
  &y {
    @each $size, $value in $spacers {
      &-#{$size} {
        padding-top: $value !important;
        padding-bottom: $value !important;
      }
    }
  }
  &x {
    @each $size, $value in $spacers {
      &-#{$size} {
        padding-left: $value !important;
        padding-right: $value !important;
      }
    }
  }
  &t {
    @each $size, $value in $spacers {
      &-#{$size} {
        padding-top: $value !important;
      }
    }
  }
  &r {
    @each $size, $value in $spacers {
      &-#{$size} {
        padding-right: $value !important;
      }
    }
  }
  &b {
    @each $size, $value in $spacers {
      &-#{$size} {
        padding-bottom: $value !important;
      }
    }
  }
  &l {
    @each $size, $value in $spacers {
      &-#{$size} {
        padding-left: $value !important;
      }
    }
  }
  @include pad {
    &y {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          padding-top: $value !important;
          padding-bottom: $value !important;
        }
      }
    }
    &x {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          padding-left: $value !important;
          padding-right: $value !important;
        }
      }
    }
    &t {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          padding-top: $value !important;
        }
      }
    }
    &r {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          padding-right: $value !important;
        }
      }
    }
    &b {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          padding-bottom: $value !important;
        }
      }
    }
    &l {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          padding-left: $value !important;
        }
      }
    }
  }
  @include mobile {
    &y {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          padding-top: $value !important;
          padding-bottom: $value !important;
        }
      }
    }
    &x {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          padding-left: $value !important;
          padding-right: $value !important;
        }
      }
    }
    &t {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          padding-top: $value !important;
        }
      }
    }
    &r {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          padding-right: $value !important;
        }
      }
    }
    &b {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          padding-bottom: $value !important;
        }
      }
    }
    &l {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          padding-left: $value !important;
        }
      }
    }
  }
}

// Margins
.m {
  &x {
    &-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  &t {
    @each $size, $value in $spacers {
      &-#{$size} {
        margin-top: $value !important;
      }
    }
  }
  &r {
    @each $size, $value in $spacers {
      &-#{$size} {
        margin-right: $value !important;
      }
    }
  }
  &b {
    @each $size, $value in $spacers {
      &-#{$size} {
        margin-bottom: $value !important;
      }
    }
  }
  &l {
    @each $size, $value in $spacers {
      &-#{$size} {
        margin-left: $value !important;
      }
    }
  }
  @include pad {
    &t {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          margin-top: $value !important;
        }
      }
    }
    &r {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          margin-right: $value !important;
        }
      }
    }
    &b {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          margin-bottom: $value !important;
        }
      }
    }
    &l {
      @each $size, $value in $spacers {
        &-md-#{$size} {
          margin-left: $value !important;
        }
      }
    }
  }
  @include mobile {
    &t {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          margin-top: $value !important;
        }
      }
    }
    &r {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          margin-right: $value !important;
        }
      }
    }
    &b {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          margin-bottom: $value !important;
        }
      }
    }
    &l {
      @each $size, $value in $spacers {
        &-sm-#{$size} {
          margin-left: $value !important;
        }
      }
    }
  }
}
