// Text
.text-center {
  text-align: center;
}

// Font
.fw-bold {
  font-weight: bold;
}
.fw-black {
  font-weight: 900;
}
.font-italic {
  font-style: italic;
}
.fs {
  @each $size, $value in $font-sizes {
    &-#{$size} {
      font-size: $value !important;
    }
  }
  @include pad {
    @each $size, $value in $font-sizes {
      &-md-#{$size} {
        font-size: $value !important;
      }
    }
  }
  @include mobile {
    @each $size, $value in $font-sizes {
      &-sm-#{$size} {
        font-size: $value !important;
      }
    }
  }
}