// Text
.text-center {
  text-align: center;
}

// Font
.fw {
  &-normal {
    font-weight: normal;
  }
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: bold;
  }
  &-black {
    font-weight: 900;
  }
}
.font-italic {
  font-style: italic;
}
.fs {
  @each $size, $value in $font-sizes {
    &-#{$size} {
      font-size: $value !important;
    }
  }
  @include pad {
    @each $size, $value in $font-sizes {
      &-md-#{$size} {
        font-size: $value !important;
      }
    }
  }
  @include mobile {
    @each $size, $value in $font-sizes {
      &-sm-#{$size} {
        font-size: $value !important;
      }
    }
  }
}