.breadcrum {
  display: flex;
  font-size: 16px;
  @include pad {
    font-size: 14px;
  }
  &-item::before {
    content: quote($string: "-");
    margin-left: 4px;
    margin-right: 4px;
  }
  &-item:first-child::before {
    display: none;
    content: "";
  }
  &-item.active {
    color: $primary;
  }
  &-item.active::before {
    color: #000;
  }
}
// Styles
.breadcrum-slash {
  .breadcrum-item::before {
    content: quote($string: "/");
  }
}