.btn {
  display: block;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 16px 24px;
  transition: opacity .15s;
  &:hover {
    opacity: 0.9;
  }
  @each $theme, $value in $theme-colors {
    &-#{$theme} {
      background-color: $value;
    }
  }
}