.tabs {
  display: flex;
  &-item {
    border-left: 1px solid #DCDCDC;
    flex-grow: 1;
    cursor: pointer;
    padding: 24px 0;
    @include pad {
      padding: 14px 0;
    }
    @include mobile {
      padding: 6px 0;
    }
    &:last-child {
      border-right: 1px solid #DCDCDC;
    }
    &.active {
      border-bottom: 8px solid $primary;
      padding-bottom: 16px;
      @include pad {
        padding-bottom: 6px;
      }
      @include mobile {
        border-bottom: 4px solid $primary;
        padding-bottom: 2px;
      }
    }
  }
  img {
    width: 48px;
    height: 48px;
    @include pad {
      width: 32px;
      height: 32px;
    }
    @include mobile {
      width: 16px;
      height: 16px;
    }
  }
}